*{
    margin:0;
    padding:0;
    border:0;
    }
p{
    text-indent: 20px;
    padding: 10px 0 10px 0;
}

a {
    text-decoration: none;
}

.nav-bar{
    background-color: #BE2625;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px 30px;
    margin: 0 0 0 100px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.title {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 75px;
    padding: 50px;
}

.video {
    text-align: center;
}

.about-div{
    padding: 10px 60px 10px 60px;
}

footer {
    background-color: red; 
    color: white;
    text-align: center;
    padding: 15px
}

.website-link{
    color: white;
}

.website-link:hover{
    color: black;
}

.photo-div{
    text-align: center;
}

.nav-photo-div{
    text-align: center;
    padding: 15px;
}

.nav-photo{
    max-width: 15%;
    height: auto;
}

.photo{
    max-width: 50%;
    height: auto;
}

.htown-photo{
    max-width: 100%;
    height: 560px;
}

.social-media-text{
    float: left;
    padding: 40px
}

.twitter-timeline{
    text-align: right;
}

.houston-maps{
    text-align: center;
    padding: 30px;
}